{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

{% if safe == True %}
      <div style=font-size:30px align="center">
            <h1>{{ outcome }} safe to prescribe</h1>
      </div>
{% else %}
      <div style=font-size:30px align="center">
            <h1> {{ outcome }} not safe to prescribe </h1>
      </div>
      
{% endif %}
      <div align="center">
            <h4>DDI List for {{medication_only}}</h4>
            <p> {{ medication_only }} {{ str_ddis }} </p>
      </div>    
      <div align="center">
            <h4>Patient's Current Medication(s)</h4>
            <p> Patient {{ str_current_drugs }} </p>
      </div>
      <div align="center">
            <h4>Patient Comorbidities</h4>
            <p> {{ str_medical_condition }} </p>
      </div>
      <div align="center">
            <h4>Biconditionals</h4>
            <p> {{ str_biconditionals }} </p>
      </div>
<div align="center"> 
      <a href="/" class="button">Check Another Case</a>
</div>
{% endblock %}