{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<br><br><br>
<div>
{% if safe == True %}
      <div style=font-size:30px align="center" >
            <h1>{{ outcome }} safe to prescribe</h1>
      </div>
{% else %}
      <div style=font-size:30px align="center">
            <h1> {{ outcome }} not safe to prescribe </h1>
      </div>
      
{% endif %}

<style>
      table, th, td {
        border: 1px solid black;
      }
      table.center {
        margin-left: auto;
        margin-right: auto;
      }
      th, td {
  padding: 15px;
}
</style>

<table align="center" style="background-color:#FFFFFF" >
      <tr>
        <th>DDI List for {{medication_only}}</th>
        <th>Patient's Current Medication(s)</th>
        <th>Patient Comorbidities</th>
        <th>Biconditionals</th>
      </tr>
      <tr>
        <td>{{ medication_only }} {{ str_ddis }}</td>
        <td> Patient {{ str_current_drugs }}</td>
        <td>{{ str_medical_condition }}</td>
        <td>{{ str_biconditionals }}</td>
      </tr>

</table>
<br>
</div>


<!-- PROPER CODE BELOW -->
      <!-- <div align="center">
            <h4>DDI List for {{medication_only}}</h4>
            <p> {{ medication_only }} {{ str_ddis }} </p>
      </div>    
      <div align="center">
            <h4>Patient's Current Medication(s)</h4>
            <p> Patient {{ str_current_drugs }} </p>
      </div>
      <div align="center">
            <h4>Patient Comorbidities</h4>
            <p> {{ str_medical_condition }} </p>
      </div>
      <div align="center">
            <h4>Biconditionals</h4>
            <p> {{ str_biconditionals }} </p>
      </div> -->

<br>
<div align="center"> 
      <a href="/" class="button">Check Another Case</a>
</div>
{% endblock %}