
{% extends 'base.html' %}


{% block body %}
<br><br><br>
<div align="center" >
      <h1 style=font-size:50px>superDUR</h1>
      <h4>Enter Patient ID and Medication</h4>
      <!-- <i>If checking for more than one medication,</i>
      <i>separate with ','</i> -->
</div>
<br><br>
<div align="center">
      <form method="post">
            ID: <input autocomplete="off" name="nric"/>
            <br/><br/>
            Medication: <input autocomplete="off" name="medication"/>
            <br/><br/>
            <button type="submit">Check for DDI</button>
      </form>
</div>

{% endblock %}